.hotelList {
    box-shadow:0.5rem 0.5rem 1.5rem rgb(179, 179, 179);
    margin:1rem 0;
}

.hotel-list-image{
    background-repeat:no-repeat ;
    background-position:center ;
    background-size: cover;
    height:15rem;
}

.hotelFeature{
    border:0.15rem solid green; 
    color:green;
    width:fit-content;
}

.hotelFeatureContent{
    padding:0.3rem 0.3rem;
}

.hotelInfomation{
    font-size:1.1rem;
}

.hotelSubInformation{
    position:relative;
    font-size:1.1rem;
}

.ranking{
    text-align: right;
    margin:0.5rem; 
    font-size:1.1rem;
}

.hotelListBtn{
    position:absolute;
    bottom:0.5rem;
    right:0.5rem;
}

@media (max-width: 1200px){
    .ranking{
        text-align: left; 
        margin:auto
    }

    .hotelListBtn{
        margin-bottom:1rem;
        float:right;
    }
}

.pagination-area{
    font-size:1rem;
}