/* .hotelinfoamtion{
    
} */

.hotelLists{
    width:70%;
    font-size: 2rem;
    color:black;
    justify-content: center;
    align-items: center;   
    margin:0 auto;
    /* box-shadow:0.5rem 0.5rem 1.5rem rgb(179, 179, 179); */
}

/* .banner{
    border: 1px solid rgba(126, 126, 125, 0.8);
} */