.NavBar {
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
  }

  .logo {
    padding:0 1rem;
  }
  
.nav-link{
  margin:0 1rem;
}

  .nav-link.active {
    font-weight: bold;
  }

  .navItem {
    padding:0 1rem;
  }

  .navbar-icon{
    font-size:1.3rem;
  }