.SearchConponent{
  background-color:hsl(190, 77%, 88%,0.5);
}

.searchBar{
    width:90%;
    /* padding:100em auto; */
    /* background-color: transparent; */
    
}

.searchForm {
  justify-content: center;
  align-items: center;  
  
}

.searchInput{
  position: relative;
  display: inline-block;
  height:54px;
  z-index:999;
  margin:2rem 0;
}

.searchbar{
  height: 56px;
  display: inline-block;
  vertical-align: top;
  justify-content: center;
}

#searchHotelsDropdown{
  background-color: white;
  color:#3c4043;
  margin-top: 0px ;
  overflow:auto;
}


.searchHotelList{
  padding:0.7rem;
}


.searchHotelsDropdownItem :hover{
  background-color: rgba(150, 250, 225);
  color:gray;
  font-weight:bold;

}


@media (max-width: 768px){


  .date-picker{
    margin-top:-1.4rem !important;
    /* height: 56px !important; */
    
  }
 
  .guestInput {
  margin:0.5rem ; 
}

  .formSubmitBtn{
   margin:0 0 2rem 0;
  } 
}

.date-picker {
  background-color: transparent !important;
}

/* .guestInput {
  padding:0;
  margin:0.5rem ; 
} */

.guest{
  width:100%;
  height: 54px;
}

@media (min-width: 768px )and (max-width: 1200px){
  .guestInput {
    margin:0 0 2rem 0; 
  }

  .formSubmitBtn{
    margin:0 0 2rem 0; 
   } 

}