.home-Info-detail{
    text-align: center;
}

.city-destination-recommand{
    text-align: center;
    margin:0.5rem 0 2rem 0;
}

.destination-title{
    margin-bottom:1.5rem;
}

.city-layout{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.city-destination{
    width:147px;
    padding:2px;
    margin:3px;
    text-decoration: none;
}

.city-destination-image{
    border-radius:50%;
    width:124px;
    height:124px;
    padding:0;
    background-repeat:no-repeat ;
    background-position:center ;
    background-size: cover;
    margin:0 auto;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap:2rem;
    min-height:50rem;
}

.home-grid-item-1{
    /* border: 1px solid rgba(126, 126, 125, 0.8); */
    background-color: rgb(250, 235, 215, 0.5);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}



.home-grid-item-2{
    /* border: 1px solid rgba(126, 126, 125, 0.8); */
    grid-column-start: 2; 
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-repeat:no-repeat ;
    background-position:center ;
    background-size: cover;
}

.home-grid-item-3{
    /* border: 1px solid rgba(126, 126, 125, 0.8); */
    background-color: rgb(250, 235, 215, 0.5);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-grid-item-4{
    /* border: 1px solid rgba(126, 126, 125, 0.8); */
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-repeat:no-repeat ;
    background-position:center ;
    background-size: cover;
}

.home-grid-item-5{
    /* border: 1px solid rgba(126, 126, 125, 0.8); */
    background-color: rgb(250, 235, 215, 0.5);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-grid-item-6{
    /* border: 1px solid rgba(126, 126, 125, 0.8); */
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background-repeat:no-repeat ;
    background-position:center ;
    background-size: cover;
}

@media(max-width: 1200px) and (min-width: 768px){
    .home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr ; 
        grid-gap:1rem;
        /* min-height:45rem; */
    }
    
    .home-grid-item-1{
        /* border: 1px solid rgba(126, 126, 125, 0.8); */
        background-color: rgb(250, 235, 215, 0.5);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row:1;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height:25rem;
    }
    
    .home-grid-item-2{
        /* border: 1px solid rgba(126, 126, 125, 0.8); */
        grid-column-start: 2; 
        grid-column-end: 3;
        grid-row:1;
        background-repeat:no-repeat ;
        background-position:center ;
        background-size: cover;
    }
    
    .home-grid-item-3{
        /* border: 1px solid rgba(126, 126, 125, 0.8); */
        grid-column-start:2;
        grid-column-end: 3;
        grid-row:2;
        min-height:25rem;
        background-repeat:no-repeat ;
        background-position:center ;
        background-size: cover;
    }
    
    .home-grid-item-4{
        /* border: 1px solid rgba(126, 126, 125, 0.8); */
        background-color: rgb(250, 235, 215, 0.5);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row:2;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    
    .home-grid-item-5{
        /* border: 1px solid rgba(126, 126, 125, 0.8); */
        background-color: rgb(250, 235, 215, 0.5);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row:3;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height:25rem;
    }
    
    .home-grid-item-6{
        /* border: 1px solid rgba(126, 126, 125, 0.8); */
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row:3;
        background-repeat:no-repeat ;
        background-position:center ;
        background-size: cover;
    }
}

@media(max-width: 768px){
    .home-grid {
        display: grid;
        grid-template-columns: 100% ;
        grid-gap:0.5rem;
    }
    
    .home-grid-item-1{
        /* border: 1px solid rgba(126, 126, 125, 0.8); */
        background-color: rgb(250, 235, 215, 0.5);
        grid-column:1;
        grid-row:1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .home-grid-item-2{
        /* border: 1px solid rgba(126, 126, 125, 0.8); */
        grid-column:1;
        grid-row:2;
        min-height:25rem;
        background-repeat:no-repeat ;
        background-position:center ;
        background-size: cover;
    }
    
    .home-grid-item-3{
        /* border: 1px solid rgba(126, 126, 125, 0.8); */
        background-color: rgb(250, 235, 215, 0.5);
        grid-column:1;
        grid-row:3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .home-grid-item-4{
        /* border: 1px solid rgba(126, 126, 125, 0.8); */
        grid-column:1;
        grid-row:4;min-height:25rem;
        background-repeat:no-repeat ;
        background-position:center ;
        background-size: cover;
    }
    
    .home-grid-item-5{
        /* border: 1px solid rgba(126, 126, 125, 0.8); */
        background-color: rgb(250, 235, 215, 0.5);
        grid-column:1;
        grid-row:5;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .home-grid-item-6{
        /* border: 1px solid rgba(126, 126, 125, 0.8); */
        grid-column:1;
        grid-row:6;
        min-height:25rem;
        background-repeat:no-repeat ;
        background-position:center ;
        background-size: cover;
    }
}